/* div {
    border: 1px dashed black;
} */

.header {
    border-bottom: 2px solid black;
  }
  

.main-container {
    position: absolute;
    top: 60px;
    right: 140px;
    left: 275px;
    bottom: 0px;
}

.header-text{
    text-align: right;
    position: relative;
}

.main-heading-container img {
    float: left;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.Feature-boxes {
    display: flex;
    justify-content: space-between;
}

.Feature-boxes h3{
    text-align: center;
}

.Featured-work-box{
    width: 32%;
    text-align: center;  
}
            
.work-desc {
    display: flex;
    /* display: block; */
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}