div {
    border: 1px dashed black;
}

.main-container {
    position: absolute;
    top: 60px;
    right: 140px;
    left: 275px;
    bottom: 0px;
}

.main-heading-container h1, h3 {
    text-align: right;
    position: relative;
}

.main-heading-container img {
    float: left;
}

img {
    max-width: 100%;
    max-height: 100%;
}