/* div {
    border: 1px dashed black;
} */

.header {
    border-bottom: 2px solid black;
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

#html-tags {
    max-width: 100%;
    display: block;
    height: auto;
}    

body {
    /* position: absolute;
    top: 60px;
    right: 140px;
    left: 275px;
    bottom: 0px; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem .5rem 0rem;
    font-family:  sans-serif , Arial;
}

.header-text {
    text-align: right;
    position: relative;
}

.main-heading-container img {
    float: left;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.Feature-boxes {
    display: flex;
    justify-content: space-between;
}

.Feature-boxes h3 {
    text-align: center;
}

.Featured-work-box {
    width: 32%;
    text-align: center;
}

.work-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}